<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log.tar.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="CONSOLE_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                [%-5level][%d{yyyy-MM-dd HH:mm:ss.SSS}] %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="EVENT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/event.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/event.%d{yyyy-MM-dd}.log.tar.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="ANALYTICS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/analytics.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/analytics.%d{yyyy-MM-dd}.log.tar.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <appender name="FOLLOW_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/logstash/follower.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/follower.%d{yyyy-MM-dd}.log.tar.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>
                %msg%n
            </Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_LOG" />
    </root>

    <logger name="FILE" level="INFO" additivity="false">
        <appender-ref ref="FILE_LOG"/>
    </logger>
    <logger name="EVENT" level="INFO" additivity="false">
        <appender-ref ref="EVENT_LOG"/>
    </logger>
    <logger name="ANALYTICS" level="INFO" additivity="false">
        <appender-ref ref="ANALYTICS_LOG"/>
    </logger>
    <logger name="FOLLOW" level="INFO" additivity="false">
        <appender-ref ref="FOLLOW_LOG"/>
    </logger>

</configuration>